#!/bin/sh

function setTargetParametersFromList () {
	# Sets the target parameters according to --target <targetname>
	# takes targetname as input
	# Called by setTarterParameters()

	# To generate a list of mbed linker scripts:
	# clear;find mbed/libraries/mbed/targets/cmsis/TARGET_STM -name '*.ld'

	# To generate a list of mbed targets:
	# clear;find mbed/libraries/mbed/targets/cmsis/TARGET_STM -name '*.ld' -exec basename {} \;

    case $1 in

        disco-f051r8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_DISCO_F051R8"
            MBED_TARGET_HAL="TARGET_DISCO_F051R8"
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F0xx.ld"
           	;;
        nucleo-f030r8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F030X8.ld"
           	;;
        nucleo-f031k6 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F031X6.ld"
           	;;
        nucleo-f042k6 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F042X6.ld"
           	;;
        nucleo-f070rb )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F070XB.ld"
           	;;
        nucleo-f072rb )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F072XB.ld"
           	;;
        nucleo-f091rc )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F0"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F091XC.ld"
           	;;
        nucleo-f100rb )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F1"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F100.ld"
           	;;
        nucleo-f103rb )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F1"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F103XB.ld"
           	;;
        disco-f303vc )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F303XC.ld"
           	;;
        disco-f334c8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F334X8.ld"
           	;;
        nucleo-f302R8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F302X8.ld"
           	;;
        nucleo-f303k8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F303X8.ld"
           	;;
        nucleo-f303re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F303XE.ld"
           	;;
        nucleo-f334r8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F334x8.ld"
           	;;
        stm32f3 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F3"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F3XX.ld"
           	;;
        b96b_f446ve )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F446XE.ld"
           	;;
        disco-f401vc )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F401XC.ld"
           	;;
        disco-f429zi )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F429ZI.ld"
           	;;
        disco-f469ni )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F469XI.ld"
           	;;
        elmo_f411re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F411XE.ld"
           	;;
        mts-dragonfly-f411re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="NUCLEO_F411RE.ld"
           	;;
        mts-mdot-f405rg )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F405.ld"
           	;;
        mts-mdot-f411re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F411XE.ld"
           	;;
        nucleo-f401re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F401XE.ld"
           	;;
        nucleo-f410rb )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F410RB.ld"
           	;;
        nucleo-f411re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F411XE.ld"
           	;;
        nucleo-f446re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F446XE.ld"
           	;;
        stm32f407vg )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F407VG"
            MBED_TARGET_HAL="TARGET_DISCO_F407VG"
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_TARGET_LINKER_SCRIPT="STM32F407XG.ld"
           	;;
        ublox_c029 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F439ZI.ld"
           	;;
        stm32f4 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F4"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F407.ld"
           	;;
        disco-f746ng )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32F7"
            MBED_TARGET_CMSIS="TARGET_STM32F..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32F746NG.ld"
           	;;
        disco-l053c8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L0"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L053X8.ld"
           	;;
        nucleo-l053r8 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L0"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L053X8.ld"
           	;;
        nucleo-l073rz )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L0"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L073XZ.ld"
           	;;
        mote-l152rc )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L1"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L152XC.ld"
           	;;
        nucleo-l152re )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L1"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L152XE.ld"
           	;;
        nz32sc151 )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L1"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L151XC.ld"
           	;;
        disco-l476vg )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L4"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L476XX.ld"
           	;;
        nucleo-l476rg )
            MBED_TARGET_MANUFACTURER="TARGET_STM"
            MBED_TARGET_FAMILY="TARGET_STM32L4"
            MBED_TARGET_CMSIS="TARGET_STM32L..."
            MBED_TARGET_HAL="TARGET_..."
            MBED_TOOLCHAIN="TOOLCHAIN_GCC_ARM"
          	MBED_LINKER_SCRIPT="STM32L476XX.ld"
           	;;
        * )
            MBED_LINKER_SCRIPT=""
    esac
}
