#!/bin/sh

function echoExample () {
	echo "/* Private define ------------------------------------------------------------*/"
	echo "/* Private macro -------------------------------------------------------------*/"
	echo "/* Private variables ---------------------------------------------------------*/"
	echo "/* Private function prototypes -----------------------------------------------*/"
	echo "/* Private functions ---------------------------------------------------------*/"
	echo ""
	echo "/**"
	echo "  * @brief  Main program"
	echo "  * @param  None"
	echo "  * @retval None"
	echo "  */"
	if [ $mbed ] ; then
		echo "#include \"mbed.h\""
	fi
	echo ""
	echo "DigitalOut myled(LED1);"
	echo ""
	echo "int main() {"
	echo "    while(1) {"
	echo "        myled = 1;"
	echo "        wait(0.2);"
	echo "        myled = 0;"
	echo "        wait(0.2);"
	echo "    }"
	echo "}"
	echo ""
	echo "/*"
	echo " * Override C++ new/delete operators to reduce memory footprint"
	echo " */"
	echo "#ifdef CUSTOM_NEW"
	echo ""
	echo "void *operator new(size_t size) {"
	echo "        return malloc(size);"
	echo "}"
	echo ""
	echo "void *operator new[](size_t size) {"
	echo "        return malloc(size);"
	echo "}"
	echo ""
	echo "void operator delete(void *p) {"
	echo "        free(p);"
	echo "}"
	echo ""
	echo "void operator delete[](void *p) {"
	echo "        free(p);"
	echo "}"
	echo ""
	echo "#endif"
}
