#!/bin/sh

#LINKER_SCRIPT="STM32F407.ld"

function setTargetParametersFromList () {
	# Sets the target parameters according to --target <targetname>
	# takes targetname as input
	# Called by setTarterParameters()

    case $1 in
        nucleof411re )
          	MBED_LINKER_SCRIPT="NUCLEO_F411RE.ld"
           	;;
        stm32f407 )
          	MBED_LINKER_SCRIPT="STM32F407.ld"
           	;;
        * )
            exit 1
    esac
}