#                         ____
#                       .'* *.'
#                    __/_*_*(_
#                   / _______ \
#                  _\_)/___\(_/_
#                 / _((\- -/))_ \
#                 \ \())(-)(()/ /
#                  ' \(((()))/ '
#                 / ' \)).))/ ' \
#                / _ \ - | - /_  \
#               (   ( .;''';. .'  )
#               _\"__ /    )\ __"/_
#                 \/  \   ' /  \/
#                  .'  '...' ' )
#                   / /  |  \ \
#                  / .   .   . \
#                 /   .     .   \
#                /   /   |   \   \
#              .'   /    b    '.  '.
#          _.-'    /     Bb     '-. '-._
#      _.-'       |      BBb       '-.  '-.
#     (__________/\____.dBBBb.________)____)
#  █████╗ ██████╗ ███╗   ███╗██╗    ██╗██╗███████╗
# ██╔══██╗██╔══██╗████╗ ████║██║    ██║██║╚══███╔╝
# ███████║██████╔╝██╔████╔██║██║ █╗ ██║██║  ███╔╝ 
# ██╔══██║██╔══██╗██║╚██╔╝██║██║███╗██║██║ ███╔╝  
# ██║  ██║██║  ██║██║ ╚═╝ ██║╚███╔███╔╝██║███████╗
# ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝ ╚══╝╚══╝ ╚═╝╚══════╝
# 
# This is the library configuration file
# TODO Add copyright notice

[chibios]
name = ChibiOS
gitName = ChibiOS
gitURL = https://github.com/ChibiOS/ChibiOS.git
website = http://www.chibios.org/

[cmsis]
name = CMSIS
gitName = CMSIS
gitURL = https://github.com/ARM-software/CMSIS.git
website = http://www.arm.com/products/processors/cortex-m/cortex-microcontroller-software-interface-standard.php

[freertos]
name = FreeRTOS
gitName = freertos
gitURL = https://github.com/PaxInstruments/freertos.git
website = http://www.freertos.org/

[mbed]
name = mbed
gitName = mbed
gitURL = https://github.com/mbedmicro/mbed.git
website = https://www.mbed.com

[stm32cubef1]
name = STM32CubeF1
gitName = STM32CubeF1
gitURL = https://github.com/PaxInstruments/STM32CubeF1.git
website = http://www.st.com/web/catalog/tools/PF260820

[stm32cubef2]
name = STM32CubeF2
gitName = STM32CubeF2
gitURL = https://github.com/PaxInstruments/STM32CubeF2.git
website = http://www.st.com/web/en/catalog/tools/PF260266

[stm32cubef3]
name = STM32CubeF3
gitName = STM32CubeF3
gitURL = https://github.com/PaxInstruments/STM32CubeF3.git
website = http://www.st.com/web/catalog/tools/PF260613

[stm32cubef4]
name = STM32CubeF4
gitName = STM32CubeF4
gitURL = https://github.com/PaxInstruments/STM32CubeF4.git
website = http://www.st.com/web/catalog/tools/PF259243
